
@{
    @model TaskResponse

    }
<br />
@* Form for the database entry *@

<div>
    <form method="post">
        <label asp-for="Task">Task</label>
        <input asp-for="Task" />
        <br />
        <label asp-for="DueDate">Due Date</label>
        <input asp-for="DueDate" />
        <br />
        <label asp-for="Task">Task</label>
        <input asp-for="Task" />
        <br />
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId">
            <option value="">Select a Category</option>
            @foreach (Categories c in ViewBag.Cat)
            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
        <br />

        <input asp-for="TaskId" type="hidden" />

        <br />
        <button type="submit">Submit Task</button>
    </form>
</div>