
@{
    @model TaskResponse

    }
<br />
@* Form for the database entry *@

<div>
    <form method="post">
        <label asp-for="Task">Task</label>
        <input asp-for="Task" />
        <br />
        <label asp-for="DueDate">Due Date</label>
        <input asp-for="DueDate" />
        <br />
        <label asp-for="Quadrant">Quadrant</label>
        <select asp-for="Quadrant" >
        <option value="">Select a Quadrant</option>

        {
        <option value="1">Quadrant 1</option>
        <option value="2">Quadrant 2</option>
        <option value="3">Quadrant 3</option>
        <option value="4">Quadrant 4</option>
        }
        </select>
        <br />
        <label asp-for="CategoryId">Category</label>
        <select asp-for="CategoryId">
            <option value="">Select a Category</option>

            @foreach (Categories c in ViewBag.Cat)

            {
                <option value="@c.CategoryId">@c.CategoryName</option>
            }
        </select>
        <br />

        <input asp-for="TaskId" type="hidden" />

        <br />
        <button type="submit">Submit Task</button><br />
    </form>
</div>
