@{
    ViewData["Title"] = "Quadrants";
}

@model List<TaskResponse> 

<div class="container">
    <div class="row">
        <div class="col col-text grid" >
            <h3>Stephen Covey's Time Management Matrix</h3>
        </div>
    </div>

    <div class="row">
        <div class="col-2 grid"></div>
        <div class="col-5 col-text grid"><h4>Urgent</h4></div>
        <div class="col-5 col-text grid"><h4>Not Urgent</h4></div>
    </div>

    <div class="row">
        <div class="col-2 grid">
            <h5 class="vertical-text">Important</h5>
        </div>
        <div class="col-5 grid">
            <p class="font-weight-bold col-text">Quadrant 1</p>

        </div>
        <div class="col-5 col-text grid">
            <p class="font-weight-bold col-text">Quadrant 2</p>
            @*<br />
            <p class="col-text">Relationship Building</p>
            <p class="col-text">Planning</p>
            <p class="col-text">Recreation</p>
            <br />*@
        </div>
    </div>

    <div class="row">
        <div class="col-2 vertical-text grid">
            <h5 class="vertical-text">Not Important</h5>
        </div>
        <div class="col-5 col-text grid">
            <p class="font-weight-bold col-text">Quadrant 3</p>
            @*<br />
            <p class="col-text">Interruptions</p>
            <p class="col-text">Some Phone Calls</p>
            <p class="col-text">Some Mail</p>
            <p class="col-text">Some Reports</p>
            <br />*@
        </div>
        <div class="col-5 col-text grid">
            <p class="font-weight-bold col-text">Quadrant 4</p>
            @*<br />
            <p class="col-text">Busy Work</p>
            <p class="col-text">Some Phone Calls</p>
            <p class="col-text">Some Mail</p>
            <p class="col-text">Time Wasters</p>
            <br />*@
        </div>
    </div>
</div>